@tailwind base;
@tailwind components;
@tailwind utilities;


.loginWrapper {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('../public/bg-login.jpeg');
    background-position: center;
    background-size: cover;
    height: auto;
}
